<template>
  <div class="preloader" v-if="isLoading">
    <div class="preloader-block">
      <div class="preloader-icon" v-if="isLoading">
        <span class="loading-dot loading-dot-1"></span>
        <span class="loading-dot loading-dot-2"></span>
        <span class="loading-dot loading-dot-3"></span>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
export default {
  data() {
    return {
      isLoading: false,
    }
  },
  computed: {
    getRequestStatus: function() {
      return this.$store.getters.requestStatus;
    },
  },
  watch: {
    getRequestStatus(val) {
      if (val && val === 'loading') {
        this.isLoading = true;
      } else {
        this.isLoading = false;
      }
    },
  },
}
</script>
<style>
.preloader {
  background-color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.preloader .preloader-block {
  -webkit-transform: translate(50%, 50%);
  bottom: 50%;
  position: fixed;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 3000;
}
.preloader .preloader-block .preloader-icon .loading-dot.loading-dot-1 {
  -webkit-animation: 1.2s grow ease-in-out infinite;
  animation: 1.2s grow ease-in-out infinite;
}
.preloader .preloader-block .preloader-icon .loading-dot.loading-dot-2 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.15555s;
  animation: 1.2s grow ease-in-out infinite 0.15555s;
  margin: 0 14px;
}
.preloader .preloader-block .preloader-icon .loading-dot.loading-dot-3 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.3s;
  animation: 1.2s grow ease-in-out infinite 0.3s;
}
.preloader .preloader-block .preloader-icon .loading-dot {
  background-color: #0e0e0e;
  border-radius: 50%;
  display: inline-block;
  height: 13px;
  width: 13px;
}
@-webkit-keyframes grow {
    0%,
    100%,
    40% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes grow {
    0%,
    100%,
    40% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
</style>
