<template>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8">
        <!-- <b-alert v-model="showDismissibleAlert" variant="danger" dismissible>
          {{ alertMessage }}
        </b-alert> -->
        <article class="card mx-auto">
          <div class="card-header">
            <h1>Todo Page</h1>
          </div>
          <div class="card-body">
            <form class="login" @submit.prevent="createTodo">
              <b-form-group
                id="fieldset-task-id"
              >
                <input type="hidden" name="input-task-id" :value="taskId">
              </b-form-group>
              <b-form-group
                id="fieldset-task-name"
                label="Enter your Task Name"
                label-for="input-task-name"
              >
                <b-form-input
                  id="input-task-name"
                  v-model="taskName"
                  trim
                ></b-form-input>
              </b-form-group>
              <b-form-group
                id="fieldset-task-desc"
                label="Enter your Task Description"
                label-for="input-task-description"
              >
                <b-form-textarea
                  id="textarea-default"
                  placeholder="Default textarea"
                  v-model="taskDescription"
                ></b-form-textarea>
              </b-form-group>
              <!-- <input-text
                name="email"
                label-text="Email Address"
                type="text"
                v-validate="'required'"
                v-model="email"
                :error="errors.first('email')"
              ></input-text> -->
              <select-search
                @on-item-selected="dropdownSelection = $event"
                @on-item-reset="dropdownSelection = {}" />
              <b-button
                v-if="!isEdit"
                variant="outline-primary"
                type="submit">Create Task!</b-button>

              <b-button
                v-if="isEdit"
                variant="outline-primary"
                type="submit">Update Task!</b-button>
            </form>
          </div>
        </article>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import InputText from "@/components/forms/InputTextComponent";
import SelectSearch from "@/components/forms/SelectSearchComponent";
export default {
  components: {
    InputText,
    SelectSearch
  },
  data() {
    return {
      taskId: null,
      taskName: "",
      taskDescription: "",
      showDismissibleAlert: false,
      alertMessage: "",
      isEdit: false,
      email: null,
      dropdownSelection: {}
    }
  },
  computed: {
    setTask() {
      return this.$store.getters.todo;
    },
  },
  watch: {
    setTask(val) {
      if (val && val.length != 0) {
        this.taskId = val.id;
        this.taskName = val.taskName;
        this.taskDescription = val.taskDescription;
        this.isEdit = true;
      }
    },
  },
  methods: {
    createTodo() {
      if (this.taskId) {
        this.$store.dispatch('updateTask', {todo: {
          name: this.taskName,
          description: this.taskDescription,
        }, id: parseInt(this.taskId)})
        .then((resp) => {
          this.taskId = null;
          this.taskName = "";
          this.taskDescription = "";
          this.isEdit = false;
        })
        .catch((err) => {
          this.$emit('alert', err);
        });
      } else {
        this.$store.dispatch('createTask', {
          name: this.taskName,
          description: this.taskDescription,
        })
        .then((resp) => {
          this.taskName = "";
          this.taskDescription = "";
        })
        .catch((err) => {
          this.$emit('alert', err);
        });
      }
    },
  },
}
</script>
