<template><div></div></template>
<script>
/* eslint-disable */
export default {
  created: function () {
    this.$store.dispatch('logout')
      .then(() => {
        this.$router.push('/login');
      })
  }
};
</script>
