<template>
  <div id="backoffice">
    <Sidebar v-bind:is-sidebar-close="isSidebarClose" />
    <div id="content" v-bind:class="{active: isSidebarClose}">
      <nav class="navbar navbar-light navbar-bg-default">
        <div>
          <button type="button" id="sidebarCollapse" @click="toggleSidebar" class="btn">
            <i class="fas fa-bars text-white"></i>
          </button>
        </div>
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em class="text-white">{{username}}</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item @click="logout">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </nav>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import Sidebar from './component/Sidebar';
export default {
  name: 'App',
  components: {
    Sidebar
  },
  data() {
    return {
      isSidebarClose: null,
      username: "",
    }
  },
  computed : {
    isLoggedIn : function() {
      return this.$store.getters.isLoggedIn
    }
  },
  methods: {
    logout: function () {
      this.$store.dispatch('logout')
      .then(() => {
        this.$router.push('/login')
      })
    },
    toggleSidebar: function() {
      this.isSidebarClose = !this.isSidebarClose;
      localStorage.setItem('isSidebarClose', this.isSidebarClose);
    }
  },
  created: function () {
    this.isSidebarClose = localStorage.getItem('isSidebarClose') !== null ? ( localStorage.getItem('isSidebarClose') === 'true' ) : false;
    const user = JSON.parse(localStorage.getItem('user'));
    this.username = user ? user.username : "user";
  }
};
</script>

<style>
html,
body {
  height: 100vh;
  margin: 0;
}
.navbar-bg-default {
  background-color: #007bff;
}
#backoffice {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: calc(100vh - 10%);
  /* margin-top: 60px; */
  display: flex;
  width: 100%;
  align-items: stretch;
}
#content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
#content.active {
  /* width: 100%; */
  width: calc(100% - 60px);
}
</style>
