<template>
  <div class="modal fade" id="lab-slide-bottom-popup" data-keyboard="false" data-backdrop="false">
    <div class="lab-modal-body">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <h1>Terms and Conditions</h1>

      <p>LICENSING</p>
      <p>Licenses are valid for one year from the date of purchase. When asking
        for support with any purchased plugin, you may be asked to provide a valid
        license key as proof of purchase.</p>
      <p>SOFTWARE UPDATES</p>
      <p>
        Updates are included for free for one year. If you have a valid and active
        license key, and your purchased plugin(s) supports it, updates will be delivered
        automatically from the WordPress dashboard. If your plugin(s) does not
        support automatic upgrades, then updates can be downloaded from your
        <a href="https://1wd.tv/my-account/" target="_blank">account</a> page.
      </p>
      <p>SUPPORT SERVICES</p>
      <p>Support for purchased plugins is given up to one year after the purchase date.
        If you wish to get support after one year, you must purchase a new license
        key for the plugin you are seeking support for.</p>
      <p>REFUNDS</p>
      <p>
        I&nbsp;firmly believe in and stand behind my&nbsp;products 100%, but
        I&nbsp;are understand that no all plugins&nbsp;can&nbsp;work perfectly
        for everyone all of the time. If you are unhappy with your purchase, or
        you have an issue that we are unable
        to resolve that makes the system unusable, I&nbsp;am more than happy to
        provide a complete refund within 30 days of your original purchase.
      </p>
      <p>A few conditions:</p>
      <ol>
        <li>
          I&nbsp;cannot provide refunds due to technical issues unless you allow
          us to adequately try and assist you. If we are unable to resolve the
          issue for you, I&nbsp;will provide a refund. Please open a support
          ticket before requesting a refund for
          a technical issue.
        </li>
        <li>Refunds may only be issued within 30 days of the purchase date.
          After 30 days no refunds can be processed.</li>
      </ol>
      <div class="text-center">
        <a
          href="https://1wd.tv/"
          target="_blank"
          class="btn-primary btn-plain btn btn-lg popup-button"
        >Visit 1WD.tv!</a>
      </div>
    </div>
    <!-- /.modal-body -->
  </div>
  <!-- /.modal -->
</template>
<style scoped>
</style>
