<template>
  <div id="homepage">
    <!-- <Sidebar v-bind:is-sidebar-close="false" /> -->
    <!-- <div id="content" v-bind:class="{'active': false}">
      <modal v-show="isModalVisible" @close="closeModal">
        <template v-slot:header>
          <h3 class="text-dark">Nyoba modal</h3>
          <button type="button" class="btn-close" @click="closeModal"
          aria-label="Close modal">x</button>
        </template>
      </modal>
    </div>-->
    <div class="container" style="padding-top:80px;">
      <div class="row justify-content-center">
        <!-- <div class="col-md-3">
          Trigger with navbar, a link, a button,
          <br />or even just set an automatic timer!
          <br />
          <br />
          <b-button @click="showModal">Launch demo modal</b-button>
        </div>-->
        <div class="col-md-8">
          <TabCard :tabs="tabs" :initialTab="initialTab">
            <template slot="tab-head-james">About Me</template>
            <template slot="tab-panel-james">
              <div class="row mt-3">
                <div class="col-md-4" align="center">
                  <img class="image rounded-circle"
                  v-bind:src="require('@/assets/my_profil.jpg')" />
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="description">
                        Utsman Fajar
                        <br />Kebumen, Jawa Tengah
                        <br />23 years old
                        <br />Software Engineer at Investree
                        <br />
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p class="description">
                        <font-awesome-icon :icon="['fas', 'envelope']" />
                        &nbsp; utz.fadjaru@gmail.com
                      </p>
                      <p class="description">
                        <font-awesome-icon :icon="['fas', 'mobile']" />
                        &nbsp; 089611228978
                      </p>
                      <p class="description">
                        <font-awesome-icon :icon="['fab', 'linkedin']" />
                        &nbsp;
                        <a href="https://www.linkedin.com/in/utsman-fajar-b01a63169/"
                        class="text-decoration-none" target="_blank">utsman</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </template>
            <template slot="tab-head-lily">Experience</template>
            <template slot="tab-panel-lily">
              <div class="timeline">
                <div class="timeline-container left">
                  <div class="content">
                    <h2>2020</h2>
                    <small>(September 2019 - present)</small>
                    <p>PT. Investree Radhika Jaya</p>
                    <strong>Backend Developer</strong> <br>
                    <small>Java, Springboot, microservice</small>
                  </div>
                </div>
                <div class="timeline-container right">
                  <div class="content">
                    <h2>2019</h2>
                    <small>(Desember 2018 - September 2019)</small>
                    <p>Vascomm Solusi Teknologi</p>
                    <strong>Web Developer</strong> <br>
                    <small>PHP, Laravel, Redis</small>
                  </div>
                </div>
                <div class="timeline-container left">
                  <div class="content">
                    <h2>2018</h2>
                    <small>(Oktober 2018 - December 2018)</small>
                    <p>Kini Online</p>
                    <strong>Data Scientist Internship</strong> <br>
                    <small>Python 3, Falcon, Tensorflow</small>
                  </div>
                </div>
                <div class="timeline-container left">
                  <div class="content">
                    <h2>2018</h2>
                    <small>(Oktober 2018 - November 2019)</small>
                    <p>Binar Academy</p>
                    <strong>Backend Developer</strong> <br>
                    <small>Ruby on rails, TDD, Vue Js</small>
                  </div>
                </div>
                <div class="timeline-container right">
                  <div class="content">
                    <h2>2018</h2>
                    <small>(September 2015 - Oktober 2018)</small>
                    <p>Univeristas Amikom Yogyakarta</p>
                    <strong>Bachelor Informatics</strong>
                  </div>
                </div>
              </div>
            </template>
            <template slot="tab-head-snape">Portofolio</template>
            <template slot="tab-panel-snape">
              <h3 class="title">Repository</h3>
              <p class="description">
                <b-link class="btn" href="https://gitlab.com/momodding" target="_blank">
                  <font-awesome-icon :icon="['fab', 'gitlab']" />&nbsp;
                  gitlab.
                </b-link>
                <br>
                <b-link class="btn" href="https://github.com/momodding" target="_blank">
                  <font-awesome-icon :icon="['fab', 'github']" />&nbsp;
                  github.
                </b-link>
              </p>
            </template>
          </TabCard>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import Sidebar from '../component/Sidebar';
import HelloWorld from '@/components/HelloWorld'
import AboutMe from './AboutMe'
import Modal from '@/components/helper/ModalComponent'
import TabCard from '@/components/tabcard/TabCard'
export default {
  name: 'Homepage',
  components: {
    Sidebar,
    HelloWorld,
    AboutMe,
    'modal': Modal,
    TabCard,
  },
  data() {
    return {
      isModalVisible: false,
      initialTab: 'james',
      tabs: ['james', 'lily', 'snape'],
    };
  },
  methods: {
    showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
      this.isModalVisible = false;
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
html,
body {
  height: 100vh;
  margin: 0;
}
#homepage {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: calc(100vh - 10%);
  /* margin-top: 60px; */
  display: flex;
  width: 100vw;
  align-items: stretch;
}
#content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
#content.active {
  /* width: 100%; */
  width: calc(100% - 60px);
}
.image {
  height: 160px;
  width: 160px;
  object-fit: cover;
  object-position: 50% 5%;
}
.card-body {
  max-height: 10px;
}
p.description, p.description > a {
  margin-bottom: 0;
  color: #2c3e50;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #474e5d;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  height: 100%;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
</style>
