<template>
  <div class="main-content">
    <div class="page-title-box">
      <div class="container-fluid">
        <div class="float-left">
          <h4 class="text-left text-white ml-4">Todo</h4>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Todo</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">List</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="container-fluid page-content">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-8">
            <b-alert v-model="showDismissibleAlert" variant="danger" dismissible>
              {{ alertMessage }}
            </b-alert>
          </div>
        </div>
      </div>
      <TodoPage @alert="showAlert" />
      <TodoView @alert="showAlert" />
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import TodoPage from '../layouts/Todo/TodoForm';
import TodoView from '../layouts/Todo/TodoView';

export default {
  components: {
    TodoPage, TodoView,
  },
  data() {
    return {
      msg: 'The commoners',
      showDismissibleAlert: false,
      alertMessage: "",
    };
  },
  methods: {
    showAlert(error) {
      this.showDismissibleAlert = true
      this.alertMessage = error
      setTimeout(() => {
        this.showDismissibleAlert = false
        this.alertMessage = ""
      }, 3000);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.main-content {
  overflow: hidden;
}
.page-title-box {
  padding: 2rem 1rem 10rem 1rem;
  margin: -1.5rem -2rem 0;
  background-color: #007bff;
  background-image: url("~@/assets/bg-pattern.png");
  background-size: cover;
}
.page-content {
  margin-top: -3rem;
}
ol.breadcrumb {
 background-color: transparent;
}
ol.breadcrumb > li > a {
 color: rgba(255, 255, 255, 1);
 font-weight: 700;
}
ol.breadcrumb > li.active::before {
 color: rgba(255, 255, 255, 1);
 font-weight: 700;
}
ol.breadcrumb > li.active {
 color: rgba(255, 255, 255, 0.75);
 font-weight: 700;
}
</style>
