<template>
  <nav id="sidebar"
    @mouseover="hover = true"
    @mouseleave="hover = false"
    v-bind:class="{active: isSidebarClose, 'bg-white': true}">
    <div class="sidebar-header">
      <img class="nav-logo" v-bind:src="require('@/assets/logo.png')" />
      <h3 v-bind:class="{'hide-item': isSidebarClose && !hover,
      'nav-logo-name': true, 'text-black-50': true, 'my-auto': true}">
        Admin Page</h3>
    </div>
    <b-navbar-nav class="text-left text-nowrap">
      <li class="nav-item">
        <b-link
          :to="this.$constants.getBaseBoUrl() + '/'"
          exact
          :class="{'nav-link':true, 'position-reltive': true,
          'active': currentPage === 'Backoffice'}"
        >
          <font-awesome-icon class="mx-3" :icon="['fas', 'home']" />
          <p v-bind:class="{'hide-item': isSidebarClose && !hover,
      'nav-menu-name': true}">Home</p>
        </b-link>
      </li>
      <li class="nav-item" v-if="!isLoggedIn">
        <b-link
          v-b-toggle.account-menu
          :class="{'nav-link':true, 'has-treeview':true ,
          'active': ['loginBo', 'registerBo'].includes(currentPage)}"
        >
          <font-awesome-icon class="mx-3" :icon="['fas', 'user-secret']" />
          <span v-bind:class="{'hide-item': isSidebarClose && !hover,
      'nav-menu-name': true}">Account</span>
          <span class="when-opened">
            <font-awesome-icon icon="chevron-down" />
          </span>
          <span class="when-closed">
            <font-awesome-icon icon="chevron-right" />
          </span>
        </b-link>
        <b-collapse id="account-menu" class="nav-sub-menu" accordion="account-menu" role="tablist">
          <ul class="list-unstyled nav-treeview">
            <li class="nav-item">
              <b-link
                :to="this.$constants.getBaseBoUrl() + '/register'"
                :class="{'nav-link':true, 'active': currentPage === 'registerBo'}"
              >
                <font-awesome-icon class="mx-3" :icon="['fas', 'key']" />
                <span v-bind:class="{'hide-item': isSidebarClose && !hover,
      'nav-menu-name': true}">Register</span>
              </b-link>
            </li>
            <li class="nav-item">
              <b-link
                :to="this.$constants.getBaseBoUrl() + '/login'"
                :class="{'nav-link':true, 'active': currentPage === 'loginBo'}"
              >
                <font-awesome-icon class="mx-3" :icon="['fas', 'key']" />
                <span v-bind:class="{'hide-item': isSidebarClose && !hover,
      'nav-menu-name': true}">Login</span>
              </b-link>
            </li>
          </ul>
        </b-collapse>
      </li>
      <li class="nav-item" v-if="isLoggedIn">
        <b-link
          v-b-toggle.dashboard-menu
          :class="{'nav-link':true, 'has-treeview':true ,
          'active': ['todoboardBo', 'todolistboardBo'].includes(currentPage)}"
        >
          <font-awesome-icon class="mx-3" :icon="['fas', 'list-ul']" />
          <p v-bind:class="{'hide-item': isSidebarClose && !hover,
      'nav-menu-name': true}">Todo Menu
          </p>
          <div class="nav-menu-name float-right pr-2">
            <span class="when-opened right" v-bind:class="{'hide-item': isSidebarClose && !hover,
        'nav-menu-name': true}">
              <font-awesome-icon icon="chevron-down" />
            </span>
            <span class="when-closed right" v-bind:class="{'hide-item': isSidebarClose && !hover,
        'nav-menu-name': true}">
              <font-awesome-icon icon="chevron-right" />
            </span>
          </div>
        </b-link>
        <b-collapse id="dashboard-menu" class="nav-sub-menu"
        accordion="dashboard-menu" role="tablist">
          <ul class="list-unstyled nav-treeview">
            <li class="nav-item">
              <b-link
                :to="this.$constants.getBaseBoUrl() + '/todo'"
                :class="{'nav-link':true, 'active': currentPage === 'todoboardBo'}"
              >
                <font-awesome-icon class="mx-3" :icon="['fas', 'list-ul']" />
                <span v-bind:class="{'hide-item': isSidebarClose && !hover,
      'nav-menu-name': false, 'nav-submenu-name': true}">Todo</span>
              </b-link>
            </li>
            <li class="nav-item">
              <b-link
                :to="this.$constants.getBaseBoUrl() + '/todo/list'"
                :class="{'nav-link':true, 'active': currentPage === 'todolistboardBo'}"
              >
                <font-awesome-icon class="mx-3" :icon="['fas', 'list-alt']" />
                <span v-bind:class="{'hide-item': isSidebarClose && !hover,
      'nav-menu-name': false, 'nav-submenu-name': true}">Todo List</span>
              </b-link>
            </li>
          </ul>
        </b-collapse>
      </li>
      <!-- <li class="nav-item">
        <router-link v-if="!isLoggedIn" @click="logout" class="nav-link">Login</router-link>
      </li>-->
    </b-navbar-nav>
  </nav>
</template>
<script>
/* eslint-disable */
export default {
  props: {
    isSidebarClose: Boolean
  },
  data() {
    return {
      username: "",
      hover: false,
    }
  },
  methods: {
    logout: function () {
      this.$store.dispatch('logout')
      .then(() => {
        this.$router.push('/login');
      })
    }
  },
  computed : {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    },
    currentPage: function() {
      return this.$route.name;
    },
    hoverState: function () {
      return this.hover;
    }
  },
  // watch: {
  //   hoverState(val) {
  //     if (val) {

  //     }
  //   },
  // },
  created() {
    const user = JSON.parse(localStorage.getItem('user'));
    this.username = user ? user.username : "user";
  }
}
</script>
<style scoped>
#sidebar {
  /* min-width: 250px;
  max-width: 250px; */
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #ffffff;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  /* margin-left: -250px; */
  width: 60px;
}
#sidebar.active:hover {
  width: 250px;
}
#sidebar.active:hover > .sidebar-header > .nav-logo-name,
#sidebar.active:hover > .navbar-nav > .nav-item > .nav-link > .nav-menu-name,
#sidebar.active:hover > .navbar-nav > .nav-item > .nav-link > .nav-menu-name {
  opacity: 1;
  visibility:visible;
  -webkit-transition: 2s;
  transition: 2s;
}
.hide-item {
  opacity: 0;
  visibility:hidden;
  width: 0;
  transition: all 0.3s;
}
.sidebar-header {
  display: flex;
}
.sidebar-header > .nav-logo {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}
.nav-item > .nav-link {
  margin: 5px 0.25rem;
  border-radius: 5px;
}
.nav-item > .nav-link.active {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.nav-treeview {
  background: 0 0;
}
.nav-item > .nav-link > .nav-menu-name > span.right > svg {
  transition: transform ease-in-out .3s,-webkit-transform ease-in-out .3s;
}
.nav-treeview > .nav-item > .nav-link.active {
  background-color: rgba(255, 255, 255, 0.9);
  color: #343a40;
}
.nav-link.active > .nav-menu-name {
  color: white;
}
.nav-link > .nav-menu-name, .nav-submenu-name {
  display: inline-block;
  margin: 0;
  color: #7c8a96;
}
.collapsed > .nav-menu-name > .when-opened,
:not(.collapsed) > .nav-menu-name > .when-closed {
  display: none;
}
</style>
