<template>
  <div class="container-fluid">
    <center>
      <div class="row align-items-center full-height">
        <div class="col-md-12">
          <h1>404</h1>
          <h5>Page Not Found :(</h5>
          <b-link class="btn" :to="'/'">Go To Home</b-link>
        </div>
      </div>
    </center>
  </div>
</template>
<style scoped>
.full-height {
  height: 100vh;
}
</style>
