<template>
  <nav class="navbar-expand-md navbar fixed-top" id="navbar">
    <a class="navbar-brand" data-scroll href="#home-area">
      <!-- Navbar Logo-->
      <img class="img-fluid" src="../../../assets/logo.png" alt="Logo" />
      <span>Momodding</span>
    </a>
    <span
      class="navbar-menu ml-auto"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      role="button"
    >
      <span class="btn-line"></span>
    </span>
    <div class="collapse navbar-collapse order-1 order-lg-0" id="navbarSupportedContent">
      <!-- Navbar menu-->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#resume">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script>
export default {
  /* eslint-disable */
  data() {
    return {
      username: "",
    }
  },
  methods: {

  },
  computed : {

  },
  created() {

  }
};
</script>
<style scope>
.navbar-brand > img {
  width: 2rem;
}
.navbar-brand > span {
  color: #e6e6e6;
  font-size: 15px;
}
.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    margin-right: 32px
}
.navbar .navbar-nav .nav-link {
    color: #e6e6e6;
    font-size: 15px;
    padding: 0
}
</style>
