<template>
  <nav id="sidebar"
    @mouseover="hover = true"
    @mouseleave="hover = false"
    v-bind:class="{'active': false, 'bg-dark': true}">
    <div class="sidebar-header">
      <img class="nav-logo" v-bind:src="require('@/assets/logo.png')" />
      <h3 v-bind:class="{'nav-logo-name': true}">
        Bootstrap Sidebar</h3>
    </div>
    <b-navbar-nav class="text-left text-nowrap">
      <li class="nav-item">
        <b-link
          class="nav-link"
          @click="goToSlide(1)"
        >
          <font-awesome-icon class="mx-3" :icon="['fas', 'home']" />
          <p v-bind:class="{'nav-menu-name': true}">Home</p>
        </b-link>
      </li>
      <li class="nav-item">
        <b-link
          class="nav-link"
          @click="goToSlide(2)"
        >
          <font-awesome-icon class="mx-3" :icon="['fas', 'home']" />
          <p v-bind:class="{'nav-menu-name': true}">About Me</p>
        </b-link>
      </li>
      <li class="nav-item">
        <b-link
          class="nav-link"
          @click="goToSlide(3)"
        >
          <font-awesome-icon class="mx-3" :icon="['fas', 'home']" />
          <p v-bind:class="{'nav-menu-name': true}">My Portofolio</p>
        </b-link>
      </li>
      <li class="nav-item">
        <b-link
          class="nav-link"
          @click="goToSlide(4)"
        >
          <font-awesome-icon class="mx-3" :icon="['fas', 'home']" />
          <p v-bind:class="{'nav-menu-name': true}">Reach Me</p>
        </b-link>
      </li>
      <!-- <li class="nav-item">
        <router-link v-if="!isLoggedIn" @click="logout" class="nav-link">Login</router-link>
      </li>-->
    </b-navbar-nav>
  </nav>
</template>
<script>
/* eslint-disable */
export default {
  props: {
    isSidebarClose: Boolean
  },
  data() {
    return {
      hover: false,
    }
  },
  methods: {
    goToSlide: function (slide) {
      this.$emit('go-section', slide);
    }
  },
  computed : {
    currentPage: function() {
      return this.$route.name;
    },
    hoverState: function () {
      return this.hover;
    }
  },
  watch: {
    hoverState(val) {
      // console.log("hover: ", val);
    },
  },
  created() {
  }
}
</script>
<style scoped>
#sidebar {
  /* min-width: 250px;
  max-width: 250px; */
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386d5;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  /* margin-left: -250px; */
  width: 60px;
}
#sidebar.active:hover {
  width: 250px;
}
#sidebar.active:hover > .sidebar-header > .nav-logo-name,
#sidebar.active:hover > .navbar-nav > .nav-item > .nav-link > .nav-menu-name,
#sidebar.active:hover > .navbar-nav > .nav-item > .nav-link > .nav-menu-name {
  opacity: 1;
  visibility:visible;
  -webkit-transition: 2s;
  transition: 2s;
}
.hide-item {
  opacity: 0;
  visibility:hidden;
  width: 0;
}
.sidebar-header {
  display: flex;
}
.sidebar-header > .nav-logo {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}
.nav-item > .nav-link {
  margin: 5px 0.25rem;
  border-radius: 5px;
}
.nav-item > .nav-link.active {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.nav-treeview {
  background: 0 0;
}
.nav-item > .nav-link > .nav-menu-name > span.right > svg {
  position: absolute;
  right: 1rem;
  top: 8.75rem;
  transition: transform ease-in-out .3s,-webkit-transform ease-in-out .3s;
}
.nav-treeview > .nav-item > .nav-link.active {
  background-color: rgba(255, 255, 255, 0.9);
  color: #343a40;
}
.nav-menu-name {
  display: inline-block;
  margin: 0;
}
.collapsed > .nav-menu-name > .when-opened,
:not(.collapsed) > .nav-menu-name > .when-closed {
  display: none;
}
</style>
