<template>
  <div id="app">
    <!-- <img src="./assets/logo.png">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link v-if="!isLoggedIn" to="/register">Registration</router-link>
      <span v-if="!isLoggedIn"> |</span>
      <router-link v-if="!isLoggedIn" to="/login">Login</router-link>
      <span v-if="!isLoggedIn"> |</span>
      <router-link v-if="isLoggedIn" to="/dashboard">Dashboard</router-link>
      <span v-if="isLoggedIn"> | <a @click="logout">Logout</a></span>
    </div>-->
    <!-- <Backoffice/> -->
    <loading-view></loading-view>
    <router-view></router-view>
  </div>
</template>

<script>
/* eslint-disable */
import Loading from './components/helper/LoadingComponent';
export default {
  name: 'App',
  components: {
    'loading-view': Loading
  },
  data() {
    return {
      // isSidebarClose: null,
    }
  },
  computed : {
    isIdle() {
			return this.$store.getters.idleVue.isIdle;
		},
  },
  watch: {
    isIdle(val) {
      if (val && this.$route.name !== 'login' && localStorage.getItem('token')) {
        this.$store.dispatch('logout')
        .then(() => {
          this.$router.push('/login');
        })
      }
    },
  },
  methods: {
    logout: function () {
      this.$store.dispatch('logout')
      .then(() => {
        this.$router.push('/login')
      })
    },
  },
};
</script>

<style>
html,
body {
  height: 100vh;
  margin: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  height: calc(100vh - 10%);
  display: flex;
  width: 100%;
  align-items: stretch;
}
#content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
#content.active {
  width: 100%;
}
</style>
