<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: 'App',
  components: {
  },
  data() {
    return {
    }
  },
  computed : {
  },
  methods: {
  },
  created: function () {
  }
};
</script>

<style>

</style>
