<template>
  <div class="form-group">
    <label :for="dataUnq" v-text="labelText"></label>
    <input
      :class="[{'form-control':true}, {'is-invalid': error}, classes]"
      :type="inputType"
      :value="value"
      :disabled="isDisabled"
      @input="updateValue"
      @change="updateValue"
      @blur="$emit('blur')"
      @focus="$emit('focus')"
      ref="input"
    >
    <div class="invalid-feedback" v-if="error" v-show="error">
      {{ error }}
    </div>
  </div>
</template>
<script>
export default {
  $_veeValidate: {
    name() {
      return this.label;
    },
    value() {
      return this.value;
    },
  },
  props: {
    value: { type: String },
    labelText: { type: String },
    error: { type: String },
    dataUnq: { type: String },
    type: {
      type: String,
      default: 'text',
      validate: val => ['text', 'url', 'email', 'password', 'search'].indexOf(val) !== -1,
    },
    classes: { type: String },
    disabled: { type: Boolean, default: false },
  },
  data() {
    return {
      errorMessage: this.error ? this.error : '',
      inputType: this.type,
      isDisabled: this.disabled,
    };
  },
  methods: {
    updateValue(e) {
      this.$emit('input', e.target.value);
    },
  },
  watch: {
    /* eslint-disable */
    error: function (newVal, oldVal) { // watch it
      console.log('Prop changed: ', newVal, ' | was: ', oldVal);
    },
  },
};
</script>
